/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  padding: 0; 
  margin: 0; 
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

.carousel{
  display: flex;
  width: 100%;
}

.slider{
  margin: 0 auto; 
  width: 50%;
  display: flex;
  align-items: center; 
  padding: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}
/* .slider::-webkit-scrollbar{
  visibility: hidden;
} */
.slider > *{
  padding: .25%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
