/******************************************
/* CSS
/*******************************************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
  font-family: 'Poppins', sans-serif;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
  text-decoration: none;
  color: inherit;
  font-family: 'Poppins', sans-serif;
}

/* Box Model Hack */
*{
  box-sizing: border-box;
  padding: 0; 
  margin: 0; 
  font-family: 'Playfair Display', sans-serif;
}
/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* LANDING PAGE
/*******************************************/

h1, h2, h3, h4, h5, h6{
  font-family: 'Playfair Display', sans-serif;
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all .5s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0)
}

.card:nth-child(2){
  transition-delay: 100ms;
}
.card:nth-child(3){
  transition-delay: 200ms;
}
.card:nth-child(4){
  transition-delay: 300ms;
}

body{
  margin: 0; 
  background-color: black;
  width: 100vw; 
  height: 100vh;
}

.logo-img{
  max-width: 100px;
  display: flex;
  flex: 1 0 100px;
  justify-content: flex-start;
  transition: transform .2s;
}

.logo-img:hover{
  transform: scale(1.05);
}

.logo-text{
  flex: 1;
  font-size: 3.5rem;
  justify-content: flex-start;
  padding-left: 1rem;
  background: linear-gradient(266deg, rgba(241,232,189,1) 0%, rgba(228,210,123,1) 35%, rgba(215,188,57,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: .5rem 0 .5rem 1rem;
}

.nav-options{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.nav-bar{
  background-color: white;
  max-height: 130px;
  position: fixed;
  width: 100vw;
  z-index: 1;
  background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}

.nav-bar > nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-options > li{
  padding: 1rem;
}

.container::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.container{
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.container{
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.container > section {
  width: 100vw; 
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.container > section:nth-of-type(1){
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

.container > section:nth-of-type(2){
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

.container > section:nth-of-type(3){
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

.hero-container{
  margin: .5rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container > section{
  padding: .5rem 1.5rem;
  margin: .5rem 1rem;
  width: 50%;
  height: 100%;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.hero-container img{
  margin: 0 auto;
}

section > h1{ 
  font-size: 4rem;
  font-weight: 400;
  color: rgba(215,188,57,1);
  padding: 5rem 0 3rem 0;
}

section > p, section > span{
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  line-height: 1.5;
  text-align: justify;
}

span{
  color: rgba(215,188,57,1);
}

#hero-page-img{
  width: clamp(5rem, 800px, 80%)
}

a:hover{
  color: rgba(228, 210, 123, .9)
}

.card-holder{
  display: flex; 
  justify-content: center;
  align-items: center;
}

.card-holder h3{
  color: rgba(215,188,57,1); 
  font-family: 'Playfair Display', sans-serif;
  font-size: 2rem;
}

.card-holder span{
  font-family: 'Poppins', sans-serif;
  font-size: 1.75rem;
}

.card{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  margin: 1.5rem;
}

.card > img{
  display: block;
  width: 350px;
}


/* img{
  display: block;
  margin: 0 auto;
  max-width: 300px;
  border-radius: .5rem;
  box-shadow: 10px 10px 20px 0px rgba(66, 68, 90, 1);
} */

.slider{
  margin: 3rem auto; 
  width: 50%;
  height: 100%;
  padding: 1rem;
  position: relative;
}

.slider > div > h1{
  text-align: center;
  margin: .5rem auto;
  padding-bottom: 1rem; 
}

.paragraphStyle{
  font-size: 1.5rem;
  text-align: justify;
  max-width: 400px;
  max-height: 50%;
  padding: 2rem 0;
  margin: 0 auto; 
}

.slider > div{
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  inset: 0;
  opacity: 0;
  height: 500px;
  transition: .5s opacity ease-in-out;
}

.slider > div.active{
  opacity: 1;
}


.slider::-webkit-scrollbar{
  visibility: hidden;
}
.slider > *{
  padding: .25%;
}


.carousel-button{
  z-index: 2;
  background: none;
  border: 0; 
  color: rgba(0, 0, 0, .5);
  cursor: pointer;
  padding: .5rem 2rem;
  border-radius: .25rem;
  background-color: rgba(0, 0, 0, .9);
  text-transform: uppercase;
  color: rgba(255, 255, 255, .9);
}


.carousel-button:hover, 
.carousel-button:focus{
  color: black; 
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:hover{
  transform: scale(1.1);
  transition: .2s transform ease-in-out;
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev{
  left: 1rem
}

.carousel-button.next{
  right: 1rem;
}

/* 
nav{
  position: relative;
  padding: 1rem 1rem 0 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 95px;
} */


/******************************************
/* CARD DESIGN
/*******************************************/

.card {
  width: 350px;
  height: 564px;
  border-radius: 30px;
  background: #000000;
  box-shadow: 15px 15px 30px #bebebe,
              -15px -15px 30px #ffffff;
 }

/******************************************
/* SPAN DESIGN 
/*******************************************/

 .drink-type {
  box-shadow: 0px 14px 56px -11px rgba(215,188,57,1); 
  background: rgba(215,188,57,1); 
  padding: .5em 1em;
  display: inline-block;
  border: none;
  border-radius: 10px;
  color: white;
 }
 
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media(preferes-reduced-motion){
  .hidden {
    transition: none; 
  }
  .logo-img{
    transition: none;
  }
}