/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  padding: 0; 
  margin: 0; 
  font-family: 'Playfair Display', sans-serif;
}
/******************************************
/* LAYOUT
/*******************************************/

header{
  margin: 0 auto; 
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}

img{
  display: block;
  margin: 0 auto;
  max-width: 300px;
  border-radius: .5rem;
  box-shadow: 4px 4px 67px -9px rgba(195, 195, 195, 1), -4px -4px 67px -9px rgba(195, 195, 195, 1);;
}

.slider{
  margin: 3rem auto; 
  width: 50%;
  height: 100%;
  padding: 1rem;
  position: relative;
}

.slider > div > h1{
  text-align: center;
  margin: .5rem auto;
  padding-bottom: 1rem; 
}

.paragraphStyle{
  font-size: 1.5rem;
  text-align: justify;
  max-width: 400px;
  max-height: 50%;
  padding: 2rem 0;
  margin: 0 auto; 
}

.slider > div{
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  inset: 0;
  opacity: 0;
  height: 500px;
}

.slider > div.active{
  opacity: 1;
}


.slider::-webkit-scrollbar{
  visibility: hidden;
}
.slider > *{
  padding: .25%;
}


.carousel-button{
  z-index: 2;
  background: none;
  border: 0; 
  color: rgba(0, 0, 0, .5);
  cursor: pointer;
  padding: .5rem 2rem;
  border-radius: .25rem;
  background-color: rgba(0, 0, 0, .9);
  text-transform: uppercase;
  color: rgba(255, 255, 255, .9);
}


.carousel-button:hover, 
.carousel-button:focus{
  color: black; 
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev{
  left: 1rem
}

.carousel-button.next{
  right: 1rem;
}


nav{
  position: relative;
  padding: 1rem 1rem 0 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 95px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
